<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>PassHub</title>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet">
    <link href="static/css/style.css" type="text/css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="static/images/favicon/android-chrome-192x192.png">
    <link rel="manifest" href="static/images/favicon/manifest.json">
    <link rel="mask-icon" href="static/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="static/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="static/images/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="static/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="categories" data-mode="categories">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <!-- <li><a href="#modal1" title="PassHub Help" class="modal-trigger">Get Support</a></li> -->
        <li><a href="/">Edit Account</a></li>
        <li class="divider"></li>
        <li><a href="/">Sign Out</a></li>
    </ul>
 
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="grey-text"><span class="blue-text text-lighten-1">Password</span><span
          class="grey-text text-darken-1">Manager</span></h4>
      <p>You can store any type of secret contents here. No one can see your data except yourself. Strong Encryptions and hashes used for security.
        You could access this data from anywhere at anytime with your password. For any reference or any improvements required feel free to contact me through my website.
      </p>
      <ul>
        <li><strong>Website:</strong> <a target="_blank" href="http://viswa2k.tk">viswa2k.tk</a></li>
      </ul>
      <p>Thank you,<br>
        viswa2k</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK!</a>
    </div>
  </div>
  <nav class="light-blue lighten-1" style="display:none">
    <div class="nav-wrapper container"><a id="logo-container" href="https://derekloewen.com:443/templates/passhub"
        class="brand-logo light-blue-text text-lighten-5"><span class="white-text">Password</span>Manager</a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="/home">Logins</a></li>
        <li class=""><a href="/categories">Categories</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button account-button" href="#!" data-activates="dropdown1"
            title="Manage your account"><i class="material-icons left">account_circle</i>{{username}}<i
              class="material-icons account-dropdown-icon">arrow_drop_down</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse text-white right"><i
          class="material-icons">menu</i></a>
    </div>
  </nav>

    <!-- Mobile Menu -->
    <ul id="nav-mobile" class="side-nav">

        <li class=""><a href="/home">Logins</a></li>

        <li class="active"><a href="/categories">Categories</a></li>

        <li class=""><a href="https://derekloewen.com:443/templates/passhub/settings">Settings</a></li>
        <li class="collapsible-parent">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header"><i class="material-icons left">account_circle</i>Admin<i
                            class="material-icons right">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#modal1" title="PassHub Help" class="modal-trigger">Get Support</a></li>
                            <li><a href="/edit">Edit Account</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/user/signout">Sign Out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

    <div class="container" id="title" style="display:none">
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3 center">
                <h2 class="grey-text text-darken-3">Categories</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section categoriesList itemsList" id="categoriesList" style="display:none">
            <form action="" method="post">
                <div class="row">
                    <div class="col s12 m8 l6 offset-m2 offset-l3">
                        <div class="card hoverable">
                            <div class="card-content">
                                <!-- Content -->
                                <div class="card-content-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br><br>
    </div>

    <!-- Category Card Wrapper Template -->
    <script type="text/html" id="categoriesTemplate">
  <div class="row">
    <div class="fields-wrapper">
      <%=tmpl('fieldTemplate', { categories: categories })%>
    </div>
  </div>
  <div class="row">
    <div class="col s12 right-align primary-actions">
      <button class="btnSave z-depth-0 btn waves-effect waves-light">Save</button>
    </div>
  </div>
</script>

    <!-- Field Template -->
    <script type="text/html" id="fieldTemplate">
  <%
    /* 
    Pre-preocess categories to sort by "sorting" numbers.
    */
    sortedCategories = {};
    $.each( categories, function( key, category ) {
      sortedCategories[category.sorting] = category; 
    });
  %>
  <% $.each( sortedCategories, function( key, category ) { %>
    <div class="input-field col s12" data-category-index="<%=category.id%>">
      <input type="text" name="category[]" placeholder="Name" value="<%=category.name%>">
      <div class="actions">
        <% if(category.id != '1') { %>
        <button 
          type="button"
          class="z-depth-0 grey-text white btn tooltipped" 
          data-action="deleteCategory" 
          data-position="bottom" 
          data-tooltip="delete category"
        ><i class="material-icons">remove_circle</i></button>
        <% } %>
        <button 
          type="button"
          class="z-depth-0 grey-text white btn tooltipped" 
          data-action="addCategory" 
          data-position="bottom" 
          data-tooltip="add new category below"
        ><i class="material-icons">add_circle</i></button>
        <span 
          class="reorderHandle z-depth-0 grey-text white btn" 
          data-action="reorderCategory"
        ><i class="material-icons">reorder</i></span>
      </div>
    </div>
  <% }); /* end each */ %>
</script>
    <!-- Templates -->
    <!-- White Loading Spinner -->
    <script type="text/html" id="loadingTemplateWhite">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-white-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </script>

    <!-- Scripts -->
    <script>
        var baseUrl = "http://127.0.0.1:5000";
        var csrf = "omlbaq4mm8e6.12en251mdpetv";
        var settings = { "language": "en", "session_timeout": "86400", "show_category_badge": "1", "force_ssl": "0", "enable_2_step_verification": "0", "enable_activity_log": "1", "show_last_edit": "1" };
        // Store notification translation strings for JS
        var language = {
            notification_categories_delete_failed: 'Error: failed to delete categories',
            notification_no_categories_found: 'Error: no categories found',
            notification_login_saved: 'Login saved',
            notification_login_save_failed: 'Error: failed to update login',
            notification_fields_delete_failed: 'Error: failed to delete fields',
            notification_copied: 'Copied to clipboard',
            notification_wont_delete_admin: 'You can not delete the admin nor user group.',
            notification_definite_article: 'The',
            notification_group_delete_info: 'group will be deleted if you hit save. You may re-assign users to a group on the Users page.',
            notification_group_delete_confirm: 'You are about to delete this group. Associated users will need to be re-assigned to a new group on the "Users" page. Go ahead anyway?',
            notification_groups_saved: 'Groups saved',
            notification_groups_save_failed: 'Error: failed to update groups',
            notification_groups_delete_failed: 'Error: failed to delete groups',
            notification_password_reminder: 'Make sure to store the password in a safe place before saving!',
            notification_delete_account_confirm: 'Delete your account permanently?',
            notification_user_saved: 'User saved',
            notification_account_saved: 'Account saved',
            notification_user_save_failed: 'Error: failed to update user.',
            notification_settings_saved: 'Settings saved',
            notification_settings_save_failed: 'Error: failed to update settings',
            notification_negative: 'No',
            notification_found_verb: 'found',
            notification_no_logins: 'No logins found, get started by creating one!',
            search_no_match: 'No matches',
            search_for: 'for',
            search_in: 'in',
            notification_no_access: 'You do not have access to this category.',
            notification_logins_load_failed: 'Failed to load logins.',
            notification_categories_save_failed: 'Error: failed to update categories',
            notification_categories_saved: 'Categories saved',
            notification_delete_failed: 'Error: failed to delete',
            notification_delete_past_tense: 'deleted',
            notification_delete_last_user_confirm: 'If you delete the last user you will not be able to log in. Go ahead anyway?',
        };
    </script>
    <!-- Include jQuery with local fallback -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="static/js/materialize.min.js"></script>
    <script src="static/js/velocity.min.js"></script>
    <script src="static/js/velocity.ui.min.js"></script>
    <script src="static/js/utils.js"></script>
    <script src="static/js/jquery.fn.sortable.js"></script>
    <script src="static/js/underscore.min.js"></script>
    <script src="static/js/functions.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>