{% extends "base.html" %}
{% block content %}

  <div class="container" id="title">
    <div class="row">
      <div class="col s12 m8 l6 offset-m2 offset-l3 center">
        <h2 class="grey-text text-darken-3">Edit Account</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section itemsList">
      <div class="row">
        <div class="col s12 m8 l6 offset-m2 offset-l3">
          <div class="card hoverable">
            <div class="card-content">
              <!-- Content -->
                  <div class="row">
                      <div class="card-content">
                        <form action="" method="post" name="edit_form">
                          <div class="notification green lighten-4 left-align success error--hidden"></div>
                          <div class="notification red lighten-4 left-align error error--hidden"></div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="current" type="text" name="current" required />
                              <label for="current">Current Password</label>
                            </div>
                            <div class="input-field col s12">
                              <input id="password" type="password" name="password" required />
                              <label for="password">New Password</label>
                            </div>
                            <div class="input-field col s12">
                              <input id="confirm" type="password" name="confirm" required />
                              <label for="confirm">Confirm Password</label>
                            </div>
                            <div class="col s12">
                              <button class="btn btn-large right-align waves-effect waves-light blue" type="submit" name="action">Submit</button>
                            </div>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                  </div>


        <!-- Templates -->
        <!-- White Loading Spinner -->
    <script type="text/html" id="loadingTemplateWhite">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-white-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </script>
  
  {% endblock %} 